Source: openvstorage-extensions
Maintainer: OpenvStorage Support Team <support@openvstorage.com>
Standards-Version: 3.9.4
Section: python
Priority: optional
Build-Depends: python (>= 2.7.2), debhelper (>= 9)

Package: openvstorage-extensions
Architecture: amd64
Pre-Depends: apt, freeipmi, python (>= 2.7.2), python-apt, python-paramiko, python-rpyc, python-protobuf, python-requests (>=2.9.1),
                python-yaml, python-ujson, volumedriver-nbd
Depends: ipython
Description: Extensions for Open vStorage
