[Unit]
Description=<NBDX>
After=local-fs.target network-online.target

[Service]
Type=simple
User=root
Group=root
SyslogIdentifier=%N
Environment=PYTHONPATH=<MODULE_PATH>
WorkingDirectory=<WD>
ExecStartPre=/usr/bin/python <SCRIPT> <NODE_ID> <NBDX>
ExecStart=/usr/local/bin/volumedriver_nbd attach file:///etc/ovs_nbd/<NBDX> -f
ExecStop=/usr/local/bin/volumedriver_nbd detach /dev/<NBDX>
Restart=on-failure
RestartSec=5
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target <MGR_SERVICE>
